.banner-img {
    height: 550px;
    width: 100%;

}

.banner {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 60px;
    margin-top: 30%;
    margin-left: 20%;
    color: rgb(214, 50, 38);
}

.banner-text h1 {
    font-size: 60px;
    color: black;
}

.banner-text h2 {
    color: rgb(58, 4, 4);
}


.special-text {
    color: rgb(189, 6, 98);
}

@media only screen and (max-width: 600px) {
    .banner-text h1 {
        font-size: 30px;
        margin-top: 0;
        color: rgb(160, 127, 10);
    }

    .banner-text h2 {
        font-size: 20px;
    }

    .banner img {
        width: 100%;
        height: 280px;
    }
}