.banner-img {
    height: 550px;
    width: 100%;

}

.banner {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 60px;
    margin-top: 30%;
    margin-left: 20%;
    color: rgb(214, 50, 38);
}

.banner-text h1 {
    font-size: 60px;
    color: rgb(179, 17, 6);
}

.banner-text h2 {
    color: rgb(201, 21, 8);
}


.special-text {
    color: rgb(189, 6, 98);
}

@media only screen and (max-width: 600px) {
    .banner-text h1 {
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 1rem;
        color: rgb(160, 127, 10);
    }

    .banner img {
        width: 100%;
        height: 280px;
    }
}